@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Arimo");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fcfcfc;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
}

.navbar input[type=checkbox],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  -webkit-box-shadow: 0px 5px 10px 0px #aaa;
          box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 50px;
  z-index: 12;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-items {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 2.3rem;
  margin-bottom: 30px;
}

.history {
  max-width: 100%;
  height: 1000px;
  background: url("../img/Kross.jpg") center center/cover no-repeat;
  padding: 150px 0px 135px 0px;
}
.history_header {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}
.history_subheader {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}
.history_descr {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.label {
  position: relative;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  position: relative;
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.title {
  position: relative;
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.carousel-container {
  max-height: 950px;
}

.carousel-caption {
  font-size: 30px;
}

.card-img-top {
  height: 225px;
}

.asics {
  min-height: 864px;
  padding: 48px 0 79px 0;
}
.asics_inf {
  margin: 15px 0px 0px 0px;
  font-size: 18px;
  color: #3d3d3d;
  text-align: center;
}
.asics .row {
  margin-top: 32px;
}

.card {
  height: 100%;
}
.card-body {
  min-height: 140px;
}
.card-title {
  font-size: 18px;
}
.card-text {
  color: rgb(10, 175, 32);
}

.btn {
  margin: 12px 0 12px 0;
}
.btn-primary {
  /* добавил */
}

.adidas {
  min-height: 864px;
  padding: 48px 0 79px 0;
}
.adidas_inf {
  margin: 15px 0px 30px 0px;
  font-size: 18px;
  color: #3d3d3d;
  text-align: center;
}
.adidas .row {
  margin-top: 32px;
}

.nike {
  min-height: 864px;
  padding: 48px 0 79px 0;
}
.nike_inf {
  margin: 15px 0px 30px 0px;
  font-size: 18px;
  color: #3d3d3d;
  text-align: center;
}
.nike .row {
  margin-top: 32px;
}

.modal-body {
  text-decoration: none;
  list-style: none;
}

.stone_island {
  min-height: 864px;
  padding: 48px 0 79px 0;
}
.stone_island_inf {
  margin: 15px 0px 30px 0px;
  font-size: 18px;
  color: #3d3d3d;
  text-align: center;
}
.stone_island .card-img-top-stone {
  height: 300px;
}
.stone_island .row {
  margin-top: 32px;
}

.site-footer {
  margin-top: 20px;
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
  text-decoration: none;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
.site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

.phone_number {
  font-size: 16px;
  color: white;
}

@media (max-width: 991px) {
  .navbar .menu-items {
    font-size: 10px;
  }
}
@media (max-width: 799px) {
  .navbar {
    opacity: 0.95;
  }
  .navbar-container input[type=checkbox],
.navbar-container .hamburger-lines {
    display: block;
  }
  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }
  .navbar-container input[type=checkbox] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }
  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }
  .navbar-container .hamburger-lines .line1 {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2 {
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  .navbar-container .hamburger-lines .line3 {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-box-shadow: 5px 0px 10px 0px #aaa;
            box-shadow: 5px 0px 10px 0px #aaa;
  }
  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }
  .navbar-container input[type=checkbox]:checked ~ .menu-items {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  .navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  .navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  .history_header {
    font-size: 45px;
    line-height: 45px;
  }
  .history_subheader {
    font-size: 34px;
    line-height: 28px;
    margin-top: 16px;
  }
  .history_descr {
    font-size: 18px;
  }
  .adidas_inf {
    font: 10px;
  }
}